<html>
	<body>
		<head>
			<title>Django Girls blog</title>
		</head>
		<div>
			<h1><a href="">Django Girls blog</a></h1>
		</div>
		<div>
			<p>publishd: 14.06.2014, 12:14</p>
			<h2><a href="">My first post</a></h2>
			<p>Accf hdfhfh jf fh ff ff ff fd jfkfkdsf jfkfkdsf
			 jkfj jfkj kfkfj f kf kf jk djfkdjfkf fkl  jkfj fkdkf
			  jkdfjkdfjklfj kfjk fjkf k fkd</p>
		</div>
		<div>
			<p>publishd: 14.06.2014, 12:14</p>
			<h2><a href="">My second post</a></h2>
			<p>Accf hdfhfh jf fh ff ff ff fd jfkfkdsf jfkfkdsf
			 jkfj jfkj kfkfj f kf kf jk djfkdjfkf fkl  jkfj fkdkf
			  jkdfjkdfjklfj kfjk fjkf k fkd</p>
		
		</div>
	</body>
</html>
